#buy {
  padding: 110px 0 40px 0;
  background: #0A1128;

  .buy {
    &--main {
      display: flex;
    }

    h1 {
      font-weight: 700;
      font-size: 36px;
      line-height: 44px;
      color: #FFFFFF;
      margin: 70px 0;
    }

    &--payment {
      display: flex;
      align-items: start;
      justify-content: space-between;

      &__type {
        width: 450px;
        height: 600px;
        background: #FFFFFF;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .line {
          width: 450px;
          border-bottom: 1px solid #000000;;
          margin: 10px 0 25px 0;
        }

        .type-section {
          width: 350px;

          .course {
            margin-top: 40px;
          }

          p {
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            color: #575757;
            width: 350px;
          }

          h1 {
            font-weight: 600;
            font-size: 26px;
            line-height: 32px;
            color: #000000;
            margin: 20px 0;
          }

          h5 {
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            color: #000000;
            width: 133px;
            margin: 10px 0;
          }
        }

        .dis {
          width: 350px;
          display: flex;
          align-items: start;
          justify-content: space-between;

          .type-section1 {
            width: 180px
          }

          .type-section2 {
            width: 180px
          }
        }
      }

      &__pay {
        padding-right: 45px;
        width: 593px;
        display: flex;
        flex-direction: column;

        &--in {
          width: 540px;
          border: 1px solid #FFFFFF;
          background: transparent;
          height: 55px;
          margin-bottom: 40px;
          padding: 0 30px;
          border-radius: 10px;
        }

        .card {
          width: 591px;

          p {
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            color: #FFFFFF;
          }

          .card-two {
            margin: 5px 0 36px 0;
            width: 591px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            &--chose {
              width: 250px;
              height: 70px;
              border: 1px solid #FFFFFF;
              border-radius: 8px;
              display: flex;
              align-items: center;
              justify-content: space-evenly;
              .masterCard{
                padding: 9px;
                border: 1px solid #fff;
                margin-top: 37px;
              }
            }
          }
        }

        button {
          background: #04437B;
          backdrop-filter: blur(7.5px);
          border-radius: 10px;
          font-weight: 400;
          font-size: 24px;
          line-height: 29px;
          text-align: center;
          color: #FFFFFF;
          border: none;
          padding: 15px 0;
          margin-bottom: 40px;
        }
        .modalBuy{
          width: 514px;
          height: 210px;
          background: #0A1128;
          border-radius: 15px;
          border: 1px solid white;
          top: 40%;
          left: 30%;
          h2{
            font-size: 28px;
            color: #FFFFFF;
            text-align: end;
            margin: 15px 15px 0 0;
          }
          h3{
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
            color: #FFFFFF;
          }
          p{
            font-weight: 400;
            font-size: 12px;
            line-height: 15px;
            color: #FFFFFF;
            margin: 20px 0;
          }
          button{
            font-weight: 500;
            font-size: 12px;
            line-height: 15px;
            color: #FFFFFF;
            width: 232px;
            background: #034078;
            border-radius: 5px;
            padding: 15px 0;
          }
        }
        .service{
          width: 570px;
          display: flex;
          align-items: start;
          padding-left: 10px;
          &--check{
            width: 40px;
            height: 40px;
            border: 1px solid #FFFFFF;
            border-radius: 5px;
          }
          &--text{
            width: 560px;
            font-weight: 400;
            font-size: 20px;
            color: #FFFFFF;
            margin-left: 20px;
          }
          &--btn{
            width: 70px;
            height: 60px;
            border: 1px solid #fff;
            .st{
              font-size: 34px;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 1550px){
  #buy {
    .buy--payment__pay {
      .modalBuy {
        width: 560px;
        height: 220px;
      }
    }
  }
}
@media (max-width: 1440px){
  #buy {
    .buy--payment__pay {
      .modalBuy {
        width: 535px;
        height: 210px;
        background: #0A1128;
        border-radius: 15px;
        border: 1px solid white;
      }
    }
  }
}
@media (max-width: 1200px){}
@media (max-width: 1140px){
  #buy {
    .buy--payment__pay {
      .modalBuy {
        width: 470px;
      }
    }
  }
}
@media (max-width: 1024px) {
  #buy {
    .buy--payment__pay {
      .modalBuy {
        width: 440px;
      }
    }
  }
}
@media (max-width: 992px){
  #buy {
    .buy--payment__pay {
      .modalBuy {
        width: 410px;
      }
    }
  }
}
@media (max-width: 768px){
  #buy {
    .buy--payment__pay {
      .modalBuy {
        width: 318px;
        text-align: center;
        left: 25%;
         p {
          font-size: 12px;
           padding: 0 30px;
        }
      }
    }
  }
}
@media (max-width: 576px){
  #buy {
    .buy--payment__pay {
      .modalBuy {
        left: 23%;
        p {
          font-size: 12px;
          padding: 0 30px;
        }
      }
    }
  }
}
@media (max-width: 450px){
  #buy {
    .buy--payment__pay {
      .modalBuy {
        left: 15%;
        p {
          font-size: 12px;
          padding: 0 30px;
        }
      }
    }
  }
}
@media (max-width: 375px){
  #buy{
    .buy--payment__pay {
      .modalBuy {
        left: 7%;
      }
    }
  }
}
@media (max-width: 320px){
  #buy {
    .buy--payment__pay {
      .modalBuy {
        left: 8%;
        width: 270px;
        button{
          width: 170px;
        }
      }
    }
  }
}
