#front {
  .front {
    &__first {
      &--info {
        margin: 80px 0 40px 0;

        h1 {
          font-weight: 700;
          font-size: 36px;
          color: #FFFFFF;
        }

        p {
          margin: 50px 0;
          width: 641px;
          font-weight: 400;
          font-size: 20px;
          line-height: 24px;
          color: #FFFFFF;
        }

        button {
          font-weight: 500;
          font-size: 16px;
          color: #FFFFFF;
          background: #044076;
          border-radius: 10px;
          border: none;
          padding: 15px 30px;
        }
      }

      &--info2 {
        display: flex;
        flex-direction: column;
        align-items: start;
        padding: 0 200px 0 0;

        p {
          font-weight: 400;
          font-size: 20px;
          line-height: 24px;
          color: #FFFFFF;
          margin: 50px 0 0 0;
        }

        h5 {
          margin: 15px 0;
          font-weight: 600;
          font-size: 20px;
          line-height: 24px;
          color: #FFFFFF;
          width: 186px;
        }
      }
    }

    &__second {
      margin-top: 100px;

      p {
        font-weight: 400;
        font-size: 16px;
        color: #A5A5A5;
      }

      &--inform {
        margin: 80px 0 40px 0;

        h1 {
          font-weight: 700;
          font-size: 36px;
          color: #FFFFFF;
        }

        p {
          margin: 50px 0;
          width: 738px;
          font-weight: 400;
          font-size: 20px;
          line-height: 24px;
          color: #FFFFFF;
        }

        button {
          font-weight: 500;
          font-size: 16px;
          color: #FFFFFF;
          background: #044076;
          border-radius: 10px;
          border: none;
          padding: 15px 30px;
        }
      }

      &--inform2 {
        display: flex;
        flex-direction: column;
        align-items: start;
        padding: 0 200px 0 0;

        p {
          font-weight: 400;
          font-size: 20px;
          line-height: 24px;
          color: #FFFFFF;
          margin: 50px 0 0 0;
        }

        h4 {
          margin: 15px 0;
          font-weight: 600;
          font-size: 20px;
          line-height: 24px;
          color: #FFFFFF;
          width: 186px;
        }
      }
    }

    &__third {
      h1 {
        font-weight: 600;
        font-size: 20px;
        color: #FFFFFF;
      }
      .allUl{
        display: flex;
        align-items: start;
        justify-content: space-between;
        &__second{
          margin-left: -30px;
        }
      }

      ul {
        margin-left: 15px;

        li {
          font-weight: 400;
          font-size: 20px;
          color: #FFFFFF;
          margin: 20px 0;
        }
      }

      .study {
        margin-top: 70px;
        font-weight: 600;
        font-size: 20px;
        color: #FFFFFF;
      }
    }

    &__fours {
      padding-top: 70px;

      h1 {
        font-weight: 600;
        font-size: 20px;
        color: #FFFFFF;
      }

      p {
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        width: 1029px;
        color: #FFFFFF;
        margin: 50px 0 90px 0;
      }

      &--btn {
        margin: 50px 0;
        width: 700px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        button {
          border-radius: 10px;
          width: 332px;
          height: 70px;
          font-weight: 500;
          font-size: 16px;
          line-height: 20px;
          color: #FFFFFF;
          border: 1px solid #043C71;
          background: transparent;
          transition: .3s;

          &:hover {
            background: #044076;
            box-shadow: -2px -2px 8px rgba(0, 0, 0, 0.2), 3px 2px 13px rgba(0, 0, 0, 0.07);
            transform: scale(1.1);
          }
        }
      }
    }

    &__fives {
      padding-top: 70px;
      display: flex;
      flex-direction: column;
      align-items: start;

      h1 {
        font-weight: 700;
        font-size: 36px;
        line-height: 44px;
        color: #FFFFFF;
      }

      &--module {
        border: 1px solid #044076;
        border-radius: 10px;
        box-sizing: border-box;
        padding: 20px 30px;
        width: 700px;
        display: flex;
        align-items: center;
        margin: 15px 0;

        h2 {
          font-weight: 700;
          font-size: 20px;
          line-height: 24px;
          text-align: right;
          color: #FFFFFF;
        }

        p {
          font-weight: 500;
          font-size: 16px;
          line-height: 20px;
          color: #FFFFFF;
          margin-left: 90px;
        }
      }

      button {
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: #FFFFFF;
        background: #044076;
        box-shadow: -2px -2px 8px rgba(0, 0, 0, 0.2), 3px 2px 13px rgba(0, 0, 0, 0.07);
        border-radius: 10px;
        cursor: grab;
        margin: 15px 0;
        padding: 20px 50px;
        border: none;
      }

      .focus {
        position: absolute;
        top: 2200px;
        right: 200px;
      }
    }

    &__six {
      padding-top: 70px;

      &--materials {
        display: flex;
        align-items: start;
        justify-content: space-between;
        text-align: center;

        .material {
          width: 305px;

          &__icon {
            font-size: 80px;
            color: #A4A4A4;
            margin: 15px 0;
          }

          h3 {
            margin: 10px 0 20px 0;
            font-weight: 700;
            font-size: 20px;
            line-height: 24px;
            color: #FFFFFF;
          }

          p {
            font-weight: 400;
            font-size: 20px;
            line-height: 24px;
            text-align: center;
            color: #FFFFFF;
          }
        }
      }

      &--leader {
        padding: 200px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;

        p {
          font-weight: 400;
          font-size: 20px;
          line-height: 24px;
          color: #A5A5A5;
          margin: 10px 0;
        }

        h1 {
          font-weight: 700;
          font-size: 36px;
          line-height: 44px;
          color: #FFFFFF;
          margin: 20px 0;
        }
      }
    }

    &__seven {
      h1 {
        font-weight: 700;
        font-size: 36px;
        line-height: 44px;
        color: #FFFFFF;
      }
      &--process {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 30px 0 70px 0;

        .kub {
          background: linear-gradient(180deg, rgba(0, 84, 160, 0.2) 0%, rgba(0, 11, 48, 0.2) 100%);
          border: 0.787692px solid #0272CE;
          backdrop-filter: blur(17.3292px);
          border-radius: 7.87692px;
          width: 215px;
          height: 215px;
          text-align: center;
          padding: 20px 20px;

          h1 {
            font-weight: 700;
            font-size: 28.3569px;
            line-height: 35px;
            color: #FFFFFF;
          }

          h4 {
            font-weight: 500;
            font-size: 20px;
            line-height: 24px;
            color: #FFFFFF;
            margin: 20px 0;
          }

          p {
            font-weight: 400;
            font-size: 15px;
            line-height: 18px;
            text-align: center;
            color: #FFFFFF;
            margin: 20px 0 0 0;
          }
        }
      }
      .slide {
        margin: 100px 0;
        .slick-track{
          margin: 55px 0 0 0;
        }
        .slick-slide {
          margin: 0 30px
        }
        .slick-next{
          display: none !important;
        }
        .slick-prev{
          display: none !important;
        }

        &__block {
          background: #102146;
          border-radius: 10px;
          width: 400px;
          height: 300px;
          position: relative;
          text-align: center;
          .logo{
            position: absolute;
            right: 175px;
            top: -35px;
          }
          h2{
            font-weight: 600;
            font-size: 18px;
            line-height: 22px;
            color: #FFFFFF;
            margin: 80px 0 10px 0 ;
          }
          p{
            font-weight: 500;
            font-size: 13px;
            line-height: 20px;
            color: #FFFFFF;
            width: 387px;
            text-align: center;
            margin: 0 0 10px 30px;
          }
          h5{
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
            color: #FFFFFF;
            text-align: end;
            margin-right: 25px;
          }
        }
      }
    }

    &__eight{
      margin: -200px 0 200px 0;
      p{
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        color: #A4A4A4;
      }
      h1{
        font-weight: 700;
        font-size: 36px;
        line-height: 44px;
        color: white;
        margin: 40px 0;
      }
      &--accordion{
        width: 700px;
        margin: 35px 0;
        .accordionTitle{
          display: flex;
          align-items: center;
          justify-content: space-between;
          border-bottom: 1px solid #A4A4A4;
          margin-top: 12px;

          h6{
            font-weight: 500;
            font-size: 20px;
            line-height: 24px;
            color: #FFFFFF;
          }
        }
        h5{
          font-weight: 500;
          font-size: 20px;
          line-height: 24px;
          color: #FFFFFF;
          margin: 15px;
          transition-timing-function: ease-in-out;
        }


      }
    }
  }
}


