#do-subscription {
  background: #0A1128;
  padding-bottom: 100px;
}
#do-subscription a {
  text-decoration: none;
}
#do-subscription .do-subscription--general__part {
  padding: 40px 0;
}
#do-subscription .do-subscription--general__part p {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #A5A5A5;
  padding: 14px 0;
}
#do-subscription .do-subscription--general__part h1 {
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  width: 1000px;
  color: #FFFFFF;
  padding: 15px 0;
}
#do-subscription .do-subscription--general__part h2 {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  width: 854px;
  color: #FFFFFF;
  padding: 20px 0;
}
#do-subscription .do-subscription--general__part img {
  padding: 15px 0;
}
#do-subscription .do-subscription--general__title h1 {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  width: 797px;
  color: #FFFFFF;
  padding: 20px 0;
}
#do-subscription .do-subscription--general__title ul li {
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  color: #FFFFFF;
  padding: 10px 0;
}
#do-subscription .do-subscription--general__get {
  margin: 80px 0 30px 0;
  width: 1170px;
  height: 197px;
  background: #FFFFFF;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}
#do-subscription .do-subscription--general__get--icon {
  width: 65px;
  height: 65px;
  color: #034078;
  margin: 30px 0 0 30px;
}
#do-subscription .do-subscription--general__get--title {
  margin: 40px 0 10px 0;
}
#do-subscription .do-subscription--general__get--title h1 {
  width: 600px;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
  color: #000000;
  padding: 10px 0;
}
#do-subscription .do-subscription--general__get--title__bottom {
  display: flex;
  align-items: center;
}
#do-subscription .do-subscription--general__get--title__bottom p {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #8D8D8D;
}
#do-subscription .do-subscription--general__get--title__bottom h4 {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #8D8D8D;
  width: 536px;
}
#do-subscription .do-subscription--general__get--title__bottom h2 {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}
#do-subscription .do-subscription--general__get button {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
  width: 280px;
  height: 62px;
  background: #034078;
  border: none;
  border-radius: 5px;
  margin: 40px 50px 0 0;
}
#do-subscription .do-subscription--general h6 {
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  margin: 90px 0 0 0;
  color: #FFFFFF;
}
#do-subscription .do-subscription--general__other-articles h1 {
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  color: #FFFFFF;
}
#do-subscription .do-subscription--general__other-articles--blocks {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1170px;
  margin: 50px 0 0 0;
}
#do-subscription .do-subscription--general__other-articles--blocks__block {
  width: 371px;
  height: 240.25px;
  background: #FFFFFF;
  border-radius: 10.5502px;
}
#do-subscription .do-subscription--general__other-articles--blocks__block p {
  font-weight: 500;
  font-size: 18.3527px;
  line-height: 22px;
  color: #898989;
  padding: 25px 0 10px 15px;
}
#do-subscription .do-subscription--general__other-articles--blocks__block h2 {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  width: 295px;
  padding: 10px 0 15px 15px;
}
#do-subscription .do-subscription--general__other-articles--blocks__block--bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 295px;
}
#do-subscription .do-subscription--general__other-articles--blocks__block--bottom__start {
  display: flex;
  align-items: center;
  margin-left: 15px;
}
#do-subscription .do-subscription--general__other-articles--blocks__block--bottom__start--icon {
  font-size: 24px;
}
#do-subscription .do-subscription--general__other-articles--blocks__block--bottom__start a h1 {
  font-weight: 500;
  font-size: 19.4963px;
  line-height: 24px;
  color: #044176;
  padding: 0 0 0 6px;
}
#do-subscription .do-subscription--general__other-articles--blocks__block--bottom__end h3 {
  font-weight: 500;
  font-size: 19.4963px;
  line-height: 24px;
  color: #044176;
}

/*# sourceMappingURL=before.css.map */
