body {
  background: #102146;
}

#school {
  .school {
    padding: 100px 0 0 0;

    &--text {
      p {
        color: white;
      }
    }

    &--one {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 40px 0;
      padding: 0 150px 0 0;

      &--two {
        &--text {

          h1 {
            color: white;
            font-size: 28px;
          }

          p {
            color: white;
            font-size: 18px;
            font-weight: 400;
            line-height: 24px;
            margin: 16px 0;

          }
        }

        &--one {
          margin: 58px 0 0 0;

          h1 {
            color: white;
            font-size: 28px;
          }

          p {
            color: white;
            font-size: 18px;
            margin: 16px 0;
            font-weight: 400;
            line-height: 24px;
          }
        }
      }
    }
  }
}

#section {
  .section {
    &--text {
      h1 {
        margin: 14rem 0 50px 0;
      }

      h1 {
        text-align: center;
        color: #ffff;
        font-size: 30px;
      }
    }

    &--block {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 30px 0;

      &__one {
        background-color: #fff;
        height: 270px;
        width: 360px;
        border-radius: 15px;
        padding: 30px 29px;
        display: flex;
        flex-wrap: wrap;

        h1 {
          background: none;
          color: #000000;
          padding: 0 0 20px 0;
        }

        p {
          background: none;
          color: #000000;
          font-weight: 400;
          font-size: 16px;
          line-height: 23px;
        }

        &__btn {
          button {
            color: #000000;
            border: none;
            cursor: pointer;
            background: none;
            margin-top: 20px;
            border-bottom: 2px solid black;
          }
        }
      }
    }

    &--btn {
      text-align: center;

      button {
        background: #043C71;
        border-radius: 5px;
        font-size: 16px;
        padding: 16px 45px;
        color: #FFFFFF;
        cursor: pointer;
        margin: 50px 0 0 0;
        border: none;
      }

      button:hover {
        background: #40a230;
        transition: .2s;
        color: #FFFFFF;
      }
    }
  }
}

#master {
  .master {
    &--text {
      text-align: center;
      padding: 180px 0 20px 0;

      h1 {
        color: #FFFFFF;
      }
    }

    &--block {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      &__one {
        width: 1010px;
        height: 180px;
        background: #FFFFFF;
        box-shadow: -5px -3px 10px rgba(16, 23, 47, 0.45), 9px 9px 9px rgba(10, 15, 33, 0.45);
        border-radius: 10px;
        margin: 30px 0;

        a {
          text-decoration: none;
        }

        &--link {
          h1 {
            background: none;
            font-weight: 500;
            font-size: 20px;
            line-height: 24px;
            color: #043F75;
            display: flex;
            padding: 30px 0 0 5rem;
          }

          p {
            background: none;
            font-weight: 400;
            font-size: 16px;
            line-height: 25px;
            color: #000000;
            padding: 20px 0 0 5rem;
          }
        }
      }
    }

    &--btn {
      text-align: center;
      margin: 75px 0 0 0;

      button {
        background: #043C71;
        border-radius: 5px;
        padding: 16px 45px;
        color: #FFFFFF;
        cursor: pointer;
        border: none;
      }

      button:hover {
        background: #40a230;
        transition: .6s;
        font-size: 16px;
        color: #FFFFFF;
      }
    }
  }

}

#level {
  .level {
    &--text {
      text-align: center;

      h1 {
        color: white;
        padding: 10rem 0 20px 0;
      }

      p {
        color: #FFFFFF;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        text-align: center;
        padding: 30px 0;
      }
    }

    &--block {
      padding: 90px 0;
      display: flex;
      align-items: center;
      justify-content: space-around;

      &--one {
        box-shadow: 6px 6px 14px -117px #132049, -4px -3px 24px #040B23;
        width: 346px;
        height: 325px;

        &--info {
          margin: 26px 0 0 30px;

          &__text {
            h2 {
              color: white;
              font-size: 16px;
            }

            p {
              color: #FFFFFF;
              padding: 15px 0 35px 0;
              font-size: 15px;
            }
          }

          &__som {
            h1 {
              color: #FFFFFF;
              font-size: 48px;
            }

            p {
              color: #FFFFFF;
              font-size: 15px;
              padding: 10px 10px;
            }
          }

          &__btn {
            display: flex;
            align-items: center;
            padding: 10px 0 0 5px;

            &--one {
              button {
                border: 1px solid #043C71;
                color: #FFFFFF;
                background: #0a1848;
                border-radius: 5px;
                cursor: pointer;
                width: 150px;
                height: 43px;
              }

              button:hover {
                transition: .6s;
                background: #043C71;
                color: #FFFFFF;
              }
            }

            &--two {
              button {
                border: 1px solid #043C71;
                border-radius: 5px;
                color: #FFFFFF;
                margin: 20px 10px;
                background: #0a1848;
                padding: 12px 20px;
                cursor: pointer;
              }

              button:hover {
                transition: .5s;
                background: #043C71;
                color: #FFFFFF;
              }
            }
          }

        }

      }
    }
  }
}

#slider {
  .slider--general {
    .slick-next {
      display: none !important;
    }
    .slick-prev{
      display: none !important;
    }
  }
}



#slider {
  margin: 40px 0;

  .slider--general {
    .slick-next {
      display: none;
    }

    h3 {
      color: #FFFFFF;
      text-align: center;
      margin: 120px 0 80px 0;
    }

    &__block {
      position: relative;
      width: 400px !important;
      height: 320px;
      background: #034078;
      border-radius: 10px;
      margin-top: 50px;

      img {
        position: absolute;
        top: -40px;
        left: 155px;
      }

      h1 {
        font-weight: 600;
        font-size: 17px;
        line-height: 22px;
        color: #FFFFFF;
        text-align: center;
        margin: 40px 0;
      }

      .hText {
        width: 300px;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 20px;
        text-align: center;
        color: #FFFFFF;
        margin: 20px 0 0 50px;
      }

      h3 {
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        color: #FFFFFF;
        display: flex;
        justify-content: end;
        margin: 10px 30px 0 0;
      }
    }
  }
}

#request {
  .request {
    display: flex;
    align-items: start;
    justify-content: space-between;
    margin: 14rem 0 8rem 0;

    &--left {
      h1 {
        font-weight: 700;
        font-size: 36px;
        line-height: 44px;
        text-transform: uppercase;
        color: #FFFFFF;
        padding-bottom: 25px;
      }

      p {
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #FFFFFF;
        width: 90%;
      }
    }

    &--right {
      display: flex;
      flex-direction: column;
      align-items: start;

      label {
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #B5B5B5;
        padding-bottom: 5px;
      }

      input {
        width: 500px;
        height: 57px;
        background: rgba(27, 41, 89, 0.4);
        border: none;
        margin-bottom: 18px;
        border-radius: 10px;
        color: white;
        font-size: 18px;
        padding: 0 20px;
        outline: none;
      }

      a {
        width: 251px;

        button {
          font-weight: 500;
          font-size: 18px;
          line-height: 22px;
          color: #FFFFFF;
          background: #034078;
          border-radius: 5.5px;
          width: 100%;
          height: 50px;
          border: none;
          transition: .8s ease;
          text-decoration: none;

          &:hover {
            transform: scale(1.1);
            cursor: pointer;
          }
        }
      }
    }
  }
}




