#do-subscription {
  background: #0A1128;
  padding: 50px 0;

  .do-subscription {
    &--general {
      &__part {
        padding: 41px 0;

        p {
          font-weight: 400;
          font-size: 16px;
          line-height: 20px;
          color: #A5A5A5;
          padding: 14px 0;
        }

        h1 {
          font-weight: 700;
          font-size: 36px;
          line-height: 44px;
          width: 1000px;
          color: #FFFFFF;
          padding: 15px 0;
        }

        h2 {
          font-weight: 500;
          font-size: 20px;
          line-height: 24px;
          width: 854px;
          color: #FFFFFF;
          padding: 20px 0;
        }

        img {
          padding: 15px 0;
          width: 1170px;
        }
      }

      &__title {
        ul {
          margin: 30px 0 30px 20px;

          li {
            font-weight: 500;
            font-size: 18px;
            line-height: 18px;
            color: #FFFFFF;
            padding: 30px 0;
          }
        }

        h5 {
          font-weight: 500;
          font-size: 20px;
          line-height: 24px;
          width: 1034px;
          color: #FFFFFF;
        }

        h2 {
          margin: 30px 0;
          font-weight: 500;
          font-size: 20px;
          line-height: 24px;
          width: 970px;
          color: #FFFFFF;
        }

        h3 {
          font-weight: 500;
          font-size: 20px;
          line-height: 24px;
          width: 1112px;
          color: #FFFFFF;
        }

        h4 {
          font-weight: 500;
          font-size: 20px;
          line-height: 24px;
          width: 785px;
          color: #FFFFFF;
        }
      }
    }
  }
}

#comments {
  background: #0A1128;
  padding: 40px 0;

  .comments {
    &--h {
      h1 {
        font-weight: 700;
        font-size: 35px;
        color: #FFFFFF;
        padding-bottom: 50px;
      }
    }

    &--block {
      background: #050C22;
      border-radius: 8px;
      display: flex;
      flex-direction: column;
      align-items: start;
      padding: 20px;
      width: 60%;
      overflow: hidden;


      textarea {
        min-width: 95%;
        max-width: 95%;
        min-height: 170px;
        max-height: 170px;
        background: rgba(27, 41, 89, 0.4);
        border-radius: 8px;
        border: none;
        outline: none;
        font-size: 18px;
        color: #fff;
        padding: 14px 0 0 14px;
        overflow: hidden;

      }

      &--btn {
        button {
          font-weight: 500;
          font-size: 14px;
          color: #FFFFFF;
          padding: 18px 55px;
          background: rgba(27, 41, 89, 0.4);
          border-radius: 7.35897px;
          margin-top: 15px;
          border: none;
          outline: none;
        }
      }
    }

    &--left {
      margin: 50px 0;

      &--one {
        align-items: center;
        display: flex;

        &--text {
          margin: 0 20px;

          span {
            color: #FFFFFF;
          }

          &__one {
            display: flex;
            align-items: center;

            h2 {
              line-height: 24px;
              margin-bottom: 10px;
              color: #FFFFFF;
              font-weight: 700;
              font-size: 20px;
            }

            p {
              color: #9099A3;
              margin-left: 15px;
              font-weight: 501;
              font-size: 16px;
              line-height: 20px;
            }
          }
        }
      }

      details {
        summary {
          color: #9099A3;
          margin: 0 100px;
          display: block;
          cursor: pointer;
        }

        .summary {
          margin: 30px 100px;
          display: flex;

          &--img {
            h1 {
              background: #044076;
              color: #FFF;
              border-radius: 50%;
              width: 65px;
              height: 65px;
              display: flex;
              align-items: center;
              justify-content: center;
            }
          }

          &--text {
            margin: 0 30px;

            &--one {
              display: flex;
              align-items: center;

              h1 {
                color: #FFFFFF;
                font-weight: 700;
                font-size: 21px;
                line-height: 24px;
              }
            }

            p {
              color: #FFFFFF;
              font-weight: 500;
              font-size: 16px;
              line-height: 20px;
              margin: 6px 0;
            }
          }
        }
      }
    }
  }
}

#other-articles {
  background: #0A1128;
  padding: 0 0 40px 0;

  .other-articles {
    h1 {
      font-weight: 700;
      font-size: 36px;
      line-height: 44px;
      color: #FFFFFF;
    }

    &--blocks {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 1170px;
      margin: 50px 0 0 0;

      &__block {
        width: 351px;
        height: 240px;
        background: #FFFFFF;
        border-radius: 10.5502px;

        p {
          font-weight: 500;
          font-size: 18.3527px;
          line-height: 22px;
          color: #898989;
          padding: 25px 0 10px 15px;
        }

        h2 {
          font-weight: 600;
          font-size: 20px;
          line-height: 24px;
          color: #000000;
          width: 295px;
          padding: 10px 0 15px 15px;
        }

        &--bottom {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 295px;

          &__start {
            display: flex;
            align-items: center;
            margin-left: 15px;

            &--icon {
              font-size: 24px;
            }

            a {
              h1 {
                font-weight: 500;
                font-size: 19.4963px;
                line-height: 24px;
                color: #044176;
                padding: 0 0 0 6px;
              }
            }
          }

          &__end {
            h3 {
              font-weight: 500;
              font-size: 19.4963px;
              line-height: 24px;
              color: #044176;
            }
          }
        }
      }
    }
  }
}


@media (max-width: 1200px) {
  #do-subscription {
    .do-subscription {
      &--general {
        &__part {
          img {
            width: 1000px;
          }
        }

        &__title {
          h5 {
            width: 1000px;
          }

          h2 {
            width: 1000px;
          }

          h3 {
            width: 1000px;
          }

        }
      }
    }
  }
  #other-articles {
    .other-articles {
      &--blocks {
        width: 1000px;

        &__block {
          width: 311px;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  #do-subscription {
    .do-subscription {
      &--general {
        &__part {
          h1 {
            width: 850px;
          }

          h2 {
            width: 850px;
          }

          img {
            width: 850px;
          }
        }

        &__title {
          h5 {
            width: 850px;
          }

          h2 {
            width: 850px;
          }

          h3 {
            width: 850px;
          }

        }
      }
    }
  }
  #other-articles {
    .other-articles {
      &--blocks {
        width: 850px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
        height: 900px;

        &__block {
          width: 331px;
        }
      }
    }
  }
}

@media (max-width: 992px) {
  #do-subscription {
    .do-subscription {
      &--general {
        &__part {
          h1 {
            width: 820px;
          }

          h2 {
            width: 820px;
          }

          img {
            width: 820px;
          }
        }

        &__title {
          h5 {
            width: 820px;
          }

          h2 {
            width: 820px;
          }

          h3 {
            width: 820px;
          }

        }
      }
    }
  }
  #other-articles {
    .other-articles {
      &--blocks {
        width: 850px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
        height: 900px;

        &__block {
          width: 331px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  #do-subscription {
    .do-subscription {
      &--general {
        &__part {
          h1 {
            width: 622px;
          }

          h2 {
            width: 622px;
          }

          img {
            width: 622px;
          }
        }

        &__title {
          h5 {
            width: 622px;
          }

          h2 {
            width: 622px;
          }

          h3 {
            width: 622px;
          }

          h4 {
            width: 622px;
          }
        }
      }
    }
  }
  #other-articles {
    .other-articles {
      &--blocks {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
        width: 0;
        height: 900px;

        &__block {
          width: 331px;
        }
      }
    }
  }
  #comments {
    .comments {
      &--block {
        width: 70%;
      }
    }
  }
}

@media (max-width: 576px) {
  #do-subscription {
    .do-subscription {
      &--general {
        &__part {
          h1 {
            width: 460px;
          }

          h2 {
            width: 460px;
          }

          img {
            width: 460px;
          }
        }

        &__title {
          h5 {
            width: 460px;
          }

          h2 {
            width: 460px;
          }

          h3 {
            width: 460px;
          }

          h4 {
            width: 460px;
          }
        }
      }
    }
  }
  #other-articles {
    .other-articles {
      &--blocks {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
        width: 0;
        height: 900px;

        &__block {
          width: 331px;
        }
      }
    }
  }
  #comments {
    .comments {
      .comments--block {
        width: 85%;

      }

      .comments--left {
        &--one {
          width: 100%;
        }

        .summary {
          width: 100%;
          margin: 50px 25px 0 0;

          &--text {
            &--one {
              h1 {
                font-size: 20px;
              }

            }

            p {
              font-size: 9px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 450px) {
  #do-subscription {
    .do-subscription {
      &--general {
        &__part {
          h1 {
            width: 350px;
            font-size: 30px;
          }
          h2 {
            width: 350px;
          }
          img {
            width: 350px;
          }
        }
        &__title {
          h5 {
            width: 350px;
          }
          h2 {
            width: 350px;
          }

          h3 {
            width: 350px;
          }

          h4 {
            width: 350px;
          }
        }
      }
    }
  }
  #other-articles {
    .other-articles {
      &--blocks {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
        width: 0;
        height: 900px;

        &__block {
          width: 331px;
        }
      }
    }
  }
  #comments {
    .comments {
      &--h {
        h1 {
          padding-top: 30px;
          font-size: 20px;
        }
      }

      &--left {
        &--one {
          &--img {
            img {
              width: 100%;
            }
          }

          &--text {
            span {
              font-size: 13px;
            }

            &__one {
              h2 {
                font-size: 15px;
              }

              h2 {
                font-size: 13px;
              }

              p {
                font-size: 12px;
              }
            }
          }
        }

        details {
          summary {
            margin: 30px 0 0 20px;
            display: flex;
            width: 90%;
            font-size: 15px;
          }

          .summary {
            margin: 20px 0;

            &--img {
              h1 {
                font-size: 30px;
              }
            }

            &--text {
              &--one {
                h1 {
                  font-size: 16px;
                }

                p {
                  font-size: 16px;
                }
              }
            }
          }
        }
      }

    }
  }
}

@media (max-width: 375px) {
  #do-subscription {
    .do-subscription {
      &--general {
        &__part {
          h1 {
            width: 300px;
            font-size: 26px;
          }
          h2 {
            width: 300px;
          }
          img {
            width: 300px;
          }
        }
        &__title {
          ul{
            li{
              width: 300px;
            }
          }
          h5 {
            width: 300px;
          }
          h2 {
            width: 300px;
          }

          h3 {
            width: 300px;
          }

          h4 {
            width: 300px;
          }
        }
      }
    }
  }
  #other-articles {
    .other-articles {
      &--blocks {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
        width: 0;
        height: 900px;

        &__block {
          width: 311px;
        }
      }
    }
  }
  #comments {
    .comments {
      &--block {
        width: 85% !important;
      }

      &--left {
        &--one {
          display: flex;
          align-items: center;
          width: 100%;

          &--img {

            img {
              width: 100%;
            }
          }

          &--text {
            span {
              font-size: 11px;
            }

            h2 {
              font-size: 9px;
            }

            p {
              font-size: 8px;
            }
          }
        }

        details {
          summary {
            margin: 30px 0 0 20px;
            display: flex;
            width: 100%;
            font-size: 14px;
          }

          .summary {
            margin: 20px 0;

            &--img {
              h1 {
                font-size: 26px;
                width: 40px;
                height: 40px;
              }
            }

            &--text {
              p {
                font-size: 10px;
              }

              &--one {
                h1 {
                  font-size: 11px;
                }

                p {
                  font-size: 9px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 320px) {
  #do-subscription {
    .do-subscription {
      &--general {
        &__part {
          h1 {
            width: 280px;
            font-size: 22px;
          }
          h2 {
            width: 280px;
          }
          img {
            width: 280px;
          }
        }
        &__title {
          ul{
            li{
              width: 260px;
            }
          }
          h5 {
            width: 280px;
          }
          h2 {
            width: 280px;
          }

          h3 {
            width: 280px;
          }

          h4 {
            width: 280px;
          }
        }
      }
    }
  }
  #other-articles {
    .other-articles {
      &--blocks {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
        width: 0;
        height: 900px;

        &__block {
          width: 281px;
          h2{
            width: 270px;
          }
          &--bottom{
            width: 270px;
          }
        }
      }
    }
  }
  #comments {
    .comments {
      .comments--block {
        width: 84%;
      }

    }
  }
}
