#course {
  .course {
    padding: 20px 0 150px 0;

    &--text {
      h1 {
        text-align: center;
        color: #ffff;
        font-size: 30px;
      }

      h1 {
        padding: 14rem 0 50px 0;
      }
    }

    &--blocks {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 30px;

      &__block {
        padding: 42px 30px;
        background: #FFF;
        border-radius: 15px;
        height: 300px;
        position: relative;

        h2 {
          font-weight: 700;
          font-size: 24px;
          color: #000000;
        }

        p {
          width: 80%;
          padding: 17px 0 14px 0;
          font-weight: 400;
          font-size: 16px;
          line-height: 20px;
          color: #000000;
        }

        &--group {
          display: flex;
          align-items: center;
          position: absolute;
          bottom: 33px;
          left: 30px;
          gap: 12px;

          a {
            font-weight: 700;
            font-size: 16px;
            line-height: 20px;
            color: #000000;
            padding-bottom: 5px;
            border-bottom: 2px solid black;
            text-decoration: none;
          }

          &__icons {
            font-size: 22px;
          }
        }
      }
    }
  }

}


@media (max-width: 1200px) {
  #course {
    .course {
      &--blocks {
        &__block {
          height: 350px;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  #course {
    .course {
      &--blocks {
        &__block {
          height: 450px;
        }
      }
    }
  }
}

@media (max-width: 992px) {
  #course {
    .course {
      &--blocks {
        grid-template-columns: repeat(2, 1fr);
        width: 90%;
        margin: 0 auto;

        &__block {
          height: 280px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  #course {
    .course {
      &--blocks {
        width: 100%;

        &__block {
          height: 300px;

          p {
            width: 100%;
            font-size: 14px;
          }
        }
      }

    }
  }
}

@media (max-width: 576px) {
  #course {
    .course {
      &--blocks {
        width: 60%;
        grid-template-columns: 1fr;

        &__block {
          height: 300px;

          p {
            width: 100%;
            font-size: 14px;
          }
        }
      }

    }
  }

}

@media (max-width: 450px) {
  #course {
    .course {
      &--blocks {
        width: 70%;
        grid-template-columns: 1fr;
        margin-left: 55px;
        &__block {
          height: 330px;

          p {
            width: 100%;
            font-size: 14px;
          }
        }
      }


    }
  }


}

@media (max-width: 375px) {
  #course {
    .course {
      &--blocks {
        width: 70%;
        grid-template-columns: 1fr;
        margin-left: 40px;
        &__block {
          height: 330px;

          p {
            width: 100%;
            font-size: 14px;
          }
        }
      }
    }
  }

}

@media (max-width: 320px) {
  #course {
    .course {
      &--blocks {
        width: 70%;
        grid-template-columns: 1fr;
        margin-left: 14px;
        &__block {
          height: 330px;

          p {
            width: 100%;
            font-size: 14px;
          }
        }
      }

    }
  }

}
