@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;500;600;700;800&family=Oswald:wght@300;400;500;600;700&display=swap");
#header {
  position: fixed;
  width: 100%;
  z-index: 999;
}
#header .header {
  backdrop-filter: blur(22px);
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#header .header--right {
  display: flex;
  align-items: center;
}
#header .header--right .logo {
  margin-right: 20px;
}
#header .header--right .links .name {
  margin: 0 30px;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  color: white;
}
#header .header--left__without {
  margin: 0 20px;
  border: none;
  background: transparent;
  font-weight: 500;
  font-size: 16px;
  color: white;
}
#header .header--left__with {
  margin: 0 20px;
  background: #034078;
  border-radius: 5px;
  color: white;
  padding: 15px 30px;
  border: none;
  font-weight: 500;
  font-size: 16px;
}
#header .header .burger-menu {
  display: none;
}

#footer {
  backdrop-filter: blur(22px);
}
#footer .footer {
  padding: 30px 0;
  display: flex;
  align-items: start;
  justify-content: space-between;
}
#footer .footer--first__btn button {
  background: transparent;
  border: 1px solid white;
  color: white;
  margin: 30px 0;
  padding: 3px;
}
#footer .footer--second h3 {
  color: white;
}
#footer .footer--second .col {
  display: flex;
  flex-direction: column;
  align-items: start;
}
#footer .footer--third {
  display: flex;
  flex-direction: column;
  align-items: start;
}
#footer .footer--third .contact-icon {
  margin: 10px 0;
}
#footer .footer--third h3 {
  color: white;
}
#footer .footer--fours {
  display: flex;
  flex-direction: column;
  align-items: start;
}
#footer .footer--fours h3 {
  color: white;
}
#footer .footer--fours .contact {
  display: flex;
  align-items: center;
}
#footer .footer--fives {
  display: flex;
  flex-direction: column;
  align-items: start;
}
#footer .footer--fives h3 {
  color: white;
}
#footer .footer--fives .loc {
  display: flex;
  align-items: center;
}

#about-us {
  padding-top: 100px;
}
#about-us .about-us--title {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 40px 0;
}
#about-us .about-us--title h1 {
  font-weight: 700;
  font-size: 36px;
  line-height: 60px;
  color: #FFFFFF;
}
#about-us .about-us--title h2 {
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  color: #FFFFFF;
  width: 734px;
  padding: 20px 0;
}
#about-us .about-us--title h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
  width: 776px;
}
#about-us .about-us--images {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 40px 0;
}
#about-us .about-us--certificate {
  padding: 40px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}
#about-us .about-us--certificate h1 {
  font-weight: 700;
  font-size: 36px;
  line-height: 60px;
  color: #FFFFFF;
}
#about-us .about-us--certificate h2 {
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  color: #FFFFFF;
  padding: 30px 0;
}
#about-us .about-us .slider-block {
  position: relative;
  width: 400px !important;
  height: 272px;
  background: #034078;
  border-radius: 10px;
  margin: 100px;
  padding: 50px 0 0 0;
}
#about-us .about-us .slider-block img {
  position: absolute;
  top: -40px;
  left: 160px;
}
#about-us .about-us .slider-block h1 {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  text-align: center;
}
#about-us .about-us .slider-block .hText {
  width: 300px;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
  margin: 20px 0 0 50px;
}
#about-us .about-us .slider-block h3 {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  display: flex;
  justify-content: end;
  margin: 10px 30px 0 0;
}
#about-us .about-us .request {
  display: flex;
  align-items: start;
  justify-content: space-between;
  padding-bottom: 200px;
}
#about-us .about-us .request--left h1 {
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 25px;
}
#about-us .about-us .request--left p {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  width: 90%;
}
#about-us .about-us .request--right {
  display: flex;
  flex-direction: column;
  align-items: start;
}
#about-us .about-us .request--right label {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #B5B5B5;
  margin-bottom: 5px;
}
#about-us .about-us .request--right input {
  width: 640px;
  height: 57px;
  background: rgba(27, 41, 89, 0.4);
  border: none;
  margin-bottom: 18px;
  border-radius: 10px;
  color: white;
  font-size: 18px;
  padding: 0 30px;
}
#about-us .about-us .request--right a {
  width: 250px;
}
#about-us .about-us .request--right a button {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  background: #034078;
  border-radius: 5px;
  width: 100%;
  height: 50px;
  border: none;
  transition: 0.8s ease;
}
#about-us .about-us .request--right a button:hover {
  transform: scale(1.1);
  cursor: pointer;
}

#open {
  margin-bottom: 40px;
}

#main .main .hero {
  padding: 240px 0 300px 0;
  position: relative;
  display: flex;
  justify-content: start;
  align-items: flex-start;
}
#main .main .hero--images {
  position: absolute;
  right: 0;
  top: -60px;
}
#main .main .hero--images__ellipse1 {
  width: 900px;
  height: 900px;
  border: 0.5px solid #2E3A56;
  border-radius: 50%;
  filter: blur(2.5px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#main .main .hero--images__ellipse1--ellipse2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 570px;
  height: 570px;
  border: 0.5px solid #41586B;
  filter: blur(2.5px);
  border-radius: 50%;
  -webkit-box-shadow: 4px 1px 100px 55px rgba(34, 60, 80, 0.3);
  -moz-box-shadow: 4px 1px 100px 55px rgba(14, 60, 80, 0.3);
  box-shadow: 4px 1px 100px 55px rgba(34, 60, 80, 0.3);
}
#main .main .hero--images__ellipse1--ellipse2__ellipse3 {
  box-sizing: border-box;
  width: 320px;
  height: 320px;
  border: 0.5px solid #A1ADBC;
  filter: blur(2.5px);
  border-radius: 50%;
  -webkit-box-shadow: 4px 0 100px 100px rgb(34, 60, 80);
  -moz-box-shadow: 4px 0 100px 100px rgb(34, 60, 80);
  box-shadow: 4px 0 100px 100px rgb(34, 60, 80);
  background: rgba(34, 60, 80, 0.68);
}
#main .main .hero--images__man {
  position: absolute;
  left: 200px;
  top: 131px;
  background: none;
}
#main .main .hero--images__setting {
  position: absolute;
  width: 122.37px;
  height: 126.78px;
  left: 482.23px;
  background: none;
  top: 121px;
}
#main .main .hero--images__img2 {
  position: absolute;
  width: 108.14px;
  height: 111.27px;
  left: 320px;
  top: 325px;
  background: none;
}
#main .main .hero--images__tools {
  position: absolute;
  width: 191.83px;
  height: 196.24px;
  left: 517px;
  top: 499px;
  background: none;
}
#main .main .hero--images__lamp {
  position: absolute;
  width: 135.6px;
  height: 133.4px;
  left: 822.97px;
  top: 372.36px;
  background: none;
}
#main .main .hero--text {
  z-index: 99;
  background: none;
  width: 60%;
}
#main .main .hero--text h1 {
  background: none;
  width: 70%;
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  color: #FFFFFF;
  margin-bottom: 35px;
}
#main .main .hero--text p {
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  color: #FFFFFF;
  width: 60%;
  background: none;
}
#main .main .article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 60px 0 130px 0;
}
#main .main .article--title {
  z-index: 99;
  background: none;
  padding: 30px 0 70px 0;
}
#main .main .article--title h1 {
  background: none;
  font-weight: 700;
  font-size: 36px;
  line-height: 35px;
  color: #FFFFFF;
}
#main .main .article--blocks {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
#main .main .article--blocks__block {
  max-width: 350px;
  background: #FFFFFF;
  border-radius: 20px;
  margin: 15px 10px;
  transition: 0.7s ease;
}
#main .main .article--blocks__block:hover {
  transform: scale(1.1);
  cursor: pointer;
}
#main .main .article--blocks__block img {
  width: 100%;
}
#main .main .article--blocks__block--text {
  padding: 12px 38px 30px 17px;
  display: flex;
  background: #FFFFFF;
  flex-direction: column;
  align-items: start;
  border-radius: 20px;
}
#main .main .article--blocks__block--text span {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #898989;
  background: none;
}
#main .main .article--blocks__block--text h1 {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  background: none;
}
#main .main .article--blocks__block--text__bottom {
  background: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  width: 100%;
}
#main .main .article--blocks__block--text__bottom--left {
  background: white;
  display: flex;
  align-items: center;
}
#main .main .article--blocks__block--text__bottom--left a {
  text-decoration: none;
  background: none;
  color: #044176;
}
#main .main .article--blocks__block--text__bottom--left a span {
  color: #044176;
}
#main .main .article--blocks__block--text__bottom span {
  color: #044176;
}
#main .main .article--button {
  width: 250px;
  padding-top: 50px;
}
#main .main .article--button__btn {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  background: #034078;
  border-radius: 5px;
  width: 100%;
  height: 50px;
  border: none;
  transition: 0.8s ease;
}
#main .main .article--button__btn:hover {
  transform: scale(1.1);
  cursor: pointer;
}
#main .main .packet {
  background: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 73px 100px 57px 70px;
  box-shadow: -5px -3px 10px rgba(16, 23, 47, 0.45), 9px 9px 9px rgba(10, 15, 33, 0.45);
  border-radius: 10px;
  margin-bottom: 200px;
}
#main .main .packet--left {
  background: none;
}
#main .main .packet--left h1 {
  font-weight: 700;
  font-size: 24px;
  line-height: 34px;
  color: #000000;
  background: none;
}
#main .main .packet--left p {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  width: 80%;
  margin-top: 20px;
  background: none;
}
#main .main .packet--right {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: none;
}
#main .main .packet--right button {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  border-radius: 5px;
  padding: 15px 38px;
  background: #034078;
  color: #FFFFFF;
  margin-bottom: 20px;
  border: none;
  transition-duration: 1s;
}
#main .main .packet--right button:hover {
  transform: scale(1.1);
  cursor: pointer;
}
#main .main .packet--right a {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #767676;
  background: none;
  text-decoration: none;
}
#main .main .question {
  display: flex;
  align-items: start;
  justify-content: space-between;
  padding-bottom: 200px;
}
#main .main .question--left {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
#main .main .question--left h1 {
  font-weight: 700;
  font-size: 38px;
  width: 50%;
  line-height: 94%;
  color: #FFFFFF;
}
#main .main .question--left h2 {
  color: #034078;
  font-size: 235px;
}
#main .main .question--right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60%;
}
#main .main .question--right .home-accordion {
  display: flex;
  width: 100%;
  align-items: end;
  justify-content: space-between;
}
#main .main .question--right .home-accordion_desc {
  width: 100%;
  align-items: end;
}
#main .main .question--right .home-accordion_desc-accordion {
  width: 90%;
  padding: 20px 0;
  border-bottom: 0.5px solid #9099A3;
}
#main .main .question--right .home-accordion_desc-accordion input {
  display: none;
}
#main .main .question--right .home-accordion_desc-accordion_label {
  font-size: 20px;
  line-height: 18px;
  color: #FFFFFF;
  display: flex;
  align-items: start;
  justify-content: space-between;
}
#main .main .question--right .home-accordion_desc-accordion_label p {
  margin-right: 100px;
  cursor: pointer;
}
#main .main .question--right .home-accordion_desc-accordion_label-icon {
  font-size: 22px;
  cursor: pointer;
}
#main .main .question--right .home-accordion_desc-accordion_content {
  margin-top: 2px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.6s ease-in-out;
}
#main .main .question--right .home-accordion_desc-accordion_content div {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  padding: 15px 0;
}
#main .main .question--right .home-accordion_desc-accordion input:checked + .home-accordion_desc-accordion_label .home-accordion_desc-accordion_label-icon {
  transform: rotate(180deg);
}
#main .main .question--right .home-accordion_desc-accordion input:checked ~ .home-accordion_desc-accordion_content {
  max-height: 500px;
}
#main .main .request {
  display: flex;
  align-items: start;
  justify-content: space-between;
  padding-bottom: 200px;
}
#main .main .request--left h1 {
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  text-transform: uppercase;
  padding-bottom: 30px;
  color: #FFFFFF;
}
#main .main .request--left p {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}
#main .main .request--right {
  display: flex;
  flex-direction: column;
  align-items: start;
}
#main .main .request--right label {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #B5B5B5;
  margin-bottom: 5px;
}
#main .main .request--right input {
  width: 640px;
  height: 57px;
  background: rgba(27, 41, 89, 0.4);
  border: none;
  margin-bottom: 18px;
  border-radius: 10px;
  color: white;
  font-size: 18px;
  padding: 0 20px;
  outline: none;
}
#main .main .request--right a {
  width: 250px;
}
#main .main .request--right a button {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  background: #034078;
  border-radius: 5px;
  width: 100%;
  height: 50px;
  border: none;
  transition: 0.8s ease;
}
#main .main .request--right a button:hover {
  transform: scale(1.1);
  cursor: pointer;
}

@media screen and (min-width: 312px) {
  .hero {
    position: relative;
  }
  .hero--text {
    width: 100px;
  }
  .hero--images {
    position: absolute;
    right: 100px;
  }
}
body {
  background: #102146;
}

#school .school {
  padding: 100px 0 0 0;
}
#school .school--text p {
  color: white;
}
#school .school--one {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 40px 0;
  padding: 0 150px 0 0;
}
#school .school--one--two--text h1 {
  color: white;
  font-size: 28px;
}
#school .school--one--two--text p {
  color: white;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  margin: 16px 0;
}
#school .school--one--two--one {
  margin: 58px 0 0 0;
}
#school .school--one--two--one h1 {
  color: white;
  font-size: 28px;
}
#school .school--one--two--one p {
  color: white;
  font-size: 18px;
  margin: 16px 0;
  font-weight: 400;
  line-height: 24px;
}

#section .section--text h1 {
  text-align: center;
  color: white;
  font-size: 30px;
}
#section .section--block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0;
}
#section .section--block__one {
  background-color: #fff;
  height: 220px;
  width: 360px;
  border-radius: 15px;
  padding: 30px 29px;
}
#section .section--block__one h1 {
  background: none;
  color: #000000;
  padding: 0 0 20px 0;
}
#section .section--block__one p {
  background: none;
  color: #000000;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
}
#section .section--block__one__btn button {
  color: #000000;
  border: none;
  cursor: pointer;
  background: none;
  margin-top: 20px;
  border-bottom: 2px solid black;
  padding: 10px 10px;
}
#section .section--btn {
  text-align: center;
}
#section .section--btn button {
  background: #043C71;
  border-radius: 5px;
  font-size: 16px;
  padding: 16px 45px;
  color: #FFFFFF;
  cursor: pointer;
}
#section .section--btn button:hover {
  background: #40a230;
  transition: 0.2s;
  color: #FFFFFF;
}

#master .master--text {
  text-align: center;
  padding: 20px 0;
}
#master .master--text h1 {
  color: #FFFFFF;
}
#master .master--block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#master .master--block__one {
  width: 1010px;
  height: 180px;
  background: #FFFFFF;
  box-shadow: -5px -3px 10px rgba(16, 23, 47, 0.45), 9px 9px 9px rgba(10, 15, 33, 0.45);
  border-radius: 10px;
  margin: 30px 0;
}
#master .master--block__one a {
  text-decoration: none;
}
#master .master--block__one--link h1 {
  background: none;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #043F75;
  display: flex;
  padding: 30px 0 0 5rem;
}
#master .master--block__one--link p {
  background: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: #000000;
  padding: 20px 0 0 5rem;
}
#master .master--btn {
  text-align: center;
}
#master .master--btn button {
  background: #043C71;
  border-radius: 5px;
  padding: 16px 45px;
  color: #FFFFFF;
  cursor: pointer;
}
#master .master--btn button:hover {
  background: #40a230;
  transition: 0.6s;
  font-size: 16px;
  color: #FFFFFF;
}

#level .level--text {
  text-align: center;
}
#level .level--text h1 {
  color: white;
  padding: 10rem 0 20px 0;
}
#level .level--text p {
  color: #FFFFFF;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  padding: 30px 0;
}
#level .level--block {
  padding: 90px 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#level .level--block--one {
  box-shadow: 6px 6px 14px -117px #132049, -4px -3px 24px #040B23;
  width: 346px;
  height: 325px;
}
#level .level--block--one--info {
  margin: 26px 0 0 30px;
}
#level .level--block--one--info__text h2 {
  color: white;
  font-size: 16px;
}
#level .level--block--one--info__text p {
  color: #FFFFFF;
  padding: 15px 0 35px 0;
  font-size: 15px;
}
#level .level--block--one--info__som h1 {
  color: #FFFFFF;
  font-size: 48px;
}
#level .level--block--one--info__som p {
  color: #FFFFFF;
  font-size: 15px;
  padding: 10px 10px;
}
#level .level--block--one--info__btn {
  display: flex;
  align-items: center;
  padding: 10px 0 0 5px;
}
#level .level--block--one--info__btn--one button {
  border: 1px solid #043C71;
  color: #FFFFFF;
  background: #0A1128;
  border-radius: 5px;
  cursor: pointer;
  width: 150px;
  height: 43px;
}
#level .level--block--one--info__btn--one button:hover {
  transition: 0.6s;
  background: #043C71;
  color: #FFFFFF;
}
#level .level--block--one--info__btn--two button {
  border: 1px solid #043C71;
  border-radius: 5px;
  color: #FFFFFF;
  margin: 20px 10px;
  background: #0A1128;
  padding: 12px 20px;
  cursor: pointer;
}
#level .level--block--one--info__btn--two button:hover {
  transition: 0.5s;
  background: #043C71;
  color: #FFFFFF;
}

#slider {
  margin: 10px 0;
}
#slider .slider--general h3 {
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  padding: 100px 0;
  color: #FFFFFF;
}
#slider .slider--general__block {
  width: 85% !important;
  height: 292px;
  background: #102146;
  border-radius: 10px;
  margin: 100px 0;
}
#slider .slider--general__block img {
  width: 28%;
  height: 28%;
  margin-left: 140px;
  margin-top: -40px;
  background: none;
}
#slider .slider--general h1 {
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  color: #FFFFFF;
  text-align: center;
  padding: 20px 0;
  background: none;
}
#slider .slider--general p {
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
  width: 307px;
  margin-left: 10%;
  background: none;
}
#slider .slider--general h2 {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  margin: 15px 0 0 70%;
  color: #FFFFFF;
  background: none;
}

#request .request {
  display: flex;
  align-items: start;
  justify-content: space-between;
  margin: 3rem 0 8rem 0;
}
#request .request--left h1 {
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  text-transform: uppercase;
  color: #FFFFFF;
  padding-bottom: 25px;
}
#request .request--left p {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  width: 90%;
}
#request .request--right {
  display: flex;
  flex-direction: column;
  align-items: start;
}
#request .request--right label {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #B5B5B5;
  padding-bottom: 5px;
}
#request .request--right input {
  width: 500px;
  height: 57px;
  background: rgba(27, 41, 89, 0.4);
  border: none;
  margin-bottom: 18px;
  border-radius: 10px;
  color: white;
  font-size: 18px;
  padding: 0 20px;
  outline: none;
}
#request .request--right a {
  width: 250px;
}
#request .request--right a button {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  background: #034078;
  border-radius: 5px;
  width: 100%;
  height: 50px;
  border: none;
  transition: 0.8s ease;
}
#request .request--right a button:hover {
  transform: scale(1.1);
  cursor: pointer;
}

#view {
  display: block;
}

#view-d {
  display: none;
}

#admin-panel {
  padding: 100px 0;
}
#admin-panel .admin-panel--btn {
  display: flex;
  align-items: center;
}
#admin-panel .admin-panel--btn p {
  border: none;
  font-size: 16px;
  color: white;
}
#admin-panel .admin-panel--prof {
  display: flex;
  align-items: start;
  padding: 70px 0;
}
#admin-panel .admin-panel--prof .profile {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 354px;
  height: 527px;
  background: #FFFFFF;
  border-radius: 5px;
}
#admin-panel .admin-panel--prof .profile .photo {
  font-size: 16px;
  color: white;
  background: #0272CE;
  border-radius: 10px;
  padding: 10px 22px;
  border: none;
  margin: 30px 0;
}
#admin-panel .admin-panel--prof .profile button {
  background: #FFFFFF;
  border: none;
  font-size: 20px;
  display: flex;
  align-items: center;
  width: 200px;
  justify-content: space-evenly;
}
#admin-panel .admin-panel--prof .profile button .icon {
  background: transparent;
  font-size: 20px;
}
#admin-panel .admin-panel--prof .data--own-modal {
  margin: 0 50px;
  display: flex;
  flex-direction: column;
  align-items: start;
}
#admin-panel .admin-panel--prof .data--own-modal h1 {
  color: #FFFFFF;
  margin: 10px 0 30px 0;
}
#admin-panel .admin-panel--prof .data--own-modal .settings {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#admin-panel .admin-panel--prof .data--own-modal .settings--right {
  display: flex;
  flex-direction: column;
}
#admin-panel .admin-panel--prof .data--own-modal .settings--right input {
  background: rgba(27, 41, 89, 0.4);
  border-radius: 10px;
  width: 270px;
  height: 44px;
  border: none;
  margin: 15px 0;
  padding: 0 20px;
  color: #FFFFFF;
  font-size: 16px;
}
#admin-panel .admin-panel--prof .data--own-modal .settings--right .pol {
  display: flex;
  align-items: center;
  width: 310px;
  justify-content: space-between;
}
#admin-panel .admin-panel--prof .data--own-modal .settings--right .pol--pols {
  width: 140px;
  height: 44px;
  color: #FFFFFF;
  font-size: 15px;
  border: none;
  background: rgba(27, 41, 89, 0.4);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
#admin-panel .admin-panel--prof .data--own-modal .settings--left {
  margin-left: 20px;
}
#admin-panel .admin-panel--prof .data--own-modal .settings--left p {
  color: #A4A4A4;
}
#admin-panel .admin-panel--prof .payment {
  margin: 0 0 0 0;
  position: absolute;
  top: -350px;
  right: 50px;
}
#admin-panel .admin-panel--prof .payment .ellipse {
  width: 500px;
  height: 500px;
  top: 400px;
  right: -300px;
  position: relative;
  background: radial-gradient(49.91% 49.91% at 41.3% 40.46%, #034078 0%, #019EFF 100%);
  filter: blur(561.75px);
  border-radius: 50%;
}
#admin-panel .admin-panel--prof .payment--cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#admin-panel .admin-panel--prof .payment--cards .first {
  padding: 20px 0 0 40px;
  margin: 20px 20px 0 0;
  border: 1px solid #0272CE;
  backdrop-filter: blur(7px);
  border-radius: 10px;
  width: 315px;
  height: 205px;
  background: transparent;
}
#admin-panel .admin-panel--prof .payment--cards .first .visa {
  display: flex;
  align-items: center;
  justify-content: end;
  background: transparent;
}
#admin-panel .admin-panel--prof .payment .third {
  margin: 30px 0;
  width: 675px;
  height: 293px;
  background: rgba(10, 17, 40, 0.1);
  border: 1px solid #0272CE;
  backdrop-filter: blur(7px);
  border-radius: 10px;
  padding: 40px 30px;
}
#admin-panel .admin-panel--prof .payment .third h1 {
  color: #FFFFFF;
  font-weight: 500;
  background: transparent;
}
#admin-panel .admin-panel--prof .payment .third button {
  padding: 15px 30px;
  border-radius: 10px;
  border: none;
  background: #0272CE;
  font-size: 16px;
  color: #FFFFFF;
}
#admin-panel .admin-panel--prof .payment .third p {
  margin: 20px 0;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  background: transparent;
}
#admin-panel .admin-panel--prof .subscribe {
  margin: 0 0 0 30px;
}
#admin-panel .admin-panel--prof .subscribe--data h1 {
  color: #FFFFFF;
  margin: 10px 0;
}
#admin-panel .admin-panel--prof .subscribe--data h3 {
  color: rgba(255, 255, 255, 0.8);
  margin: 30px 0;
}
#admin-panel .admin-panel--prof .subscribe--data h3 span {
  color: #FFFFFF;
}
#admin-panel .admin-panel--prof .subscribe--others {
  margin: 100px 0 0 0;
}
#admin-panel .admin-panel--prof .subscribe--others h1 {
  font-size: 36px;
  color: #FFFFFF;
  font-weight: 300;
}
#admin-panel .admin-panel--prof .subscribe--others .cost {
  display: flex;
  align-items: center;
}
#admin-panel .admin-panel--prof .subscribe--others .cost .time {
  background: #FFFFFF;
  width: 270px;
  height: 450px;
  border-radius: 10px;
  margin: 30px 20px;
  padding: 30px 50px;
}
#admin-panel .admin-panel--prof .subscribe--others .cost .time h4 {
  background: none;
  margin-bottom: 30px;
  font-size: 20px;
}
#admin-panel .admin-panel--prof .subscribe--others .cost .time h1 {
  background: none;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  color: #000000;
  margin-bottom: 20px;
}
#admin-panel .admin-panel--prof .subscribe--others .cost .time--first-btn {
  font-weight: 500;
  font-size: 12px;
  color: #000000;
  border: 1px solid #11416F;
  backdrop-filter: blur(4.90909px);
  border-radius: 3.27273px;
  background: none;
  padding: 15px 30px;
  margin-bottom: 30px;
}
#admin-panel .admin-panel--prof .subscribe--others .cost .time--second-btn {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  background: linear-gradient(94.1deg, #043C6F 2.34%, #154574 99.76%);
  backdrop-filter: blur(4.90909px);
  border-radius: 3.27273px;
  padding: 15px 33px;
  border: none;
  margin: 170px 0 0 30px;
}
#admin-panel .admin-panel--prof .subscribe--others .cost .time--second-btn-time {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  background: linear-gradient(94.1deg, #043C6F 2.34%, #154574 99.76%);
  backdrop-filter: blur(4.90909px);
  border-radius: 3.27273px;
  padding: 15px 33px;
  border: none;
  margin: 68px 0 0 30px;
}
#admin-panel .admin-panel--prof .subscribe--others .cost .time p {
  background: none;
  margin: 10px 0;
}
#admin-panel .admin-panel--prof .my {
  margin: 0 40px;
}
#admin-panel .admin-panel--prof .my h1 {
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  color: #FFFFFF;
}
#admin-panel .admin-panel--prof .my--first {
  border-bottom: 1px solid #A4A4A4;
  width: 500px;
  margin: 20px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#admin-panel .admin-panel--prof .my--first p {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #A4A4A4;
  margin: 10px 0;
}
#admin-panel .admin-panel--prof .my--first .all {
  color: #FFFFFF;
}
#admin-panel .admin-panel--prof .comment {
  margin: 0 40px;
}
#admin-panel .admin-panel--prof .comment h1 {
  color: #FFFFFF;
}
#admin-panel .admin-panel--prof .comment--yours {
  margin: 30px 0;
}
#admin-panel .admin-panel--prof .comment--yours .com {
  margin: 30px 0;
}
#admin-panel .admin-panel--prof .comment--yours .com h4 {
  color: #FFFFFF;
  margin: 20px;
}
#admin-panel .admin-panel--prof .comment--yours .com button {
  border: none;
  background: transparent;
  color: #A4A4A4;
  margin: 0 20px;
}
#admin-panel .admin-panel--prof .exit-modal {
  width: 360px;
  height: 140px;
  background: #0A1128;
  border-radius: 15px;
  position: absolute;
  left: 93px;
  bottom: -10px;
}
#admin-panel .admin-panel--prof .exit-modal h3 {
  color: #FFFFFF;
  text-align: center;
  margin: 10px;
}
#admin-panel .admin-panel--prof .exit-modal button {
  background: #034078;
  border-radius: 10px;
  padding: 8px 30px;
  border: none;
  margin: 0 5px;
  color: #FFFFFF;
  font-size: 16px;
}

@media (max-width: 1400px) {
  #header__modal {
    display: none;
  }
}
@media (max-width: 1200px) {
  #header__modal {
    display: none;
  }
}
@media (max-width: 1024px) {
  #header__modal {
    display: none;
  }
}
@media (max-width: 992px) {
  #header__modal {
    display: none;
  }
}
@media (max-width: 768px) {
  #header .header--right .links {
    display: none;
  }
  #header .header--left__without {
    display: none;
  }
  #header .header--left__with {
    display: none;
  }
  #header .header--left #burger-menu {
    display: block;
    z-index: 9999998;
    background: transparent;
    border: none;
  }
  #header .header--left #burger-menu .burger1 {
    width: 30px;
    height: 3px;
    background: white;
    transition: 0.4s;
  }
  #header .header--left #burger-menu .burger2 {
    width: 30px;
    height: 3px;
    background: white;
    transition: 0.4s;
    margin: 8px 0;
  }
  #header .header--left #burger-menu .burger3 {
    width: 30px;
    height: 3px;
    background: white;
    transition: 0.4s;
  }
  #footer .footer {
    display: flex;
    flex-direction: column;
  }
  #footer .footer--first {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  #footer .footer--second {
    display: none;
  }
  #footer .footer--third {
    display: flex;
    align-items: center;
    flex-direction: row;
  }
  #footer .footer--third .contact-icon {
    margin: 70px 0 0 -110px;
  }
  #footer .footer--fives {
    display: none;
  }
}
@media (max-width: 1200px) {
  #main {
    max-width: 1200px;
  }
  #main .main .hero--images {
    left: 300px;
    top: 50px;
  }
  #main .main .hero--images__man {
    width: 600px;
    left: 165px;
  }
  #main .main .hero--images__setting {
    left: 400px;
    top: 100px;
    width: 100px;
  }
  #main .main .hero--images__img2 {
    width: 100px;
    height: 100px;
    left: 260px;
  }
  #main .main .hero--images__tools {
    left: 460px;
    top: 470px;
    width: 160px;
    height: 170px;
  }
  #main .main .hero--images__lamp {
    width: 120px;
    height: 120px;
    left: 680px;
  }
  #main .main .hero--images__ellipse1 {
    width: 800px;
    height: 800px;
  }
  #main .main .hero--images__ellipse1--ellipse2 {
    width: 500px;
    height: 500px;
  }
  #main .main .request--right input {
    width: 520px;
  }
}
@media (max-width: 1024px) {
  #main {
    max-width: 1024px;
  }
  #main .main .hero--images {
    left: 160px;
  }
  #main .main .hero--images__tools {
    width: 140px;
    height: 150px;
    top: 450px;
  }
  #main .main .hero--images__img2 {
    left: 240px;
  }
  #main .main .hero--images__lamp {
    left: 660px;
    width: 100px;
    height: 100px;
  }
  #main .main .hero--images__man {
    width: 560px;
  }
  #main .main .hero--images__ellipse1 {
    width: 750px;
    height: 750px;
  }
  #main .main .hero--text h1 {
    width: 100%;
    font-size: 42px;
  }
  #main .main .hero--text p {
    font-size: 16px;
  }
  #main .main .article--title h1 {
    font-size: 38px;
  }
  #main .main .request--left p {
    width: 80%;
  }
  #main .main .request--right input {
    width: 400px;
  }
  #main .main .question--right .home-accordion_desc-accordion_label p {
    font-size: 18px;
  }
}
@media (max-width: 992px) {
  #main {
    max-width: 992px;
  }
}
@media (max-width: 768px) {
  #main {
    max-width: 768px;
  }
  #main .main .hero {
    padding: 140px 0 700px 0;
    justify-content: center;
    align-items: center;
  }
  #main .main .hero--text {
    width: 80%;
  }
  #main .main .hero--text h1 {
    text-align: center;
  }
  #main .main .hero--text p {
    text-align: center;
    width: 100%;
  }
  #main .main .hero--images {
    left: -20px;
    top: 450px;
  }
  #main .main .hero--images__man {
    width: 520px;
    left: 135px;
    top: 170px;
  }
  #main .main .hero--images__setting {
    left: 400px;
    top: 80px;
    width: 80px;
  }
  #main .main .hero--images__img2 {
    width: 90px;
    height: 90px;
    left: 190px;
  }
  #main .main .hero--images__tools {
    left: 400px;
    top: 460px;
    width: 140px;
    height: 140px;
  }
  #main .main .hero--images__lamp {
    width: 100px;
    height: 100px;
    left: 620px;
  }
  #main .main .hero--images__ellipse1 {
    width: 720px;
    height: 720px;
  }
  #main .main .hero--images__ellipse1--ellipse2 {
    width: 490px;
    height: 490px;
  }
  #main .main .request {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #main .main .request--left {
    text-align: center;
  }
  #main .main .request--left p {
    width: 100%;
    padding-bottom: 40px;
  }
  #main .main .request--right {
    align-items: center;
  }
  #main .main .request--right input {
    width: 320px;
  }
}
@media (max-width: 576px) {
  #main {
    max-width: 576px;
  }
  #main .main .hero {
    padding: 140px 0 700px 0;
    justify-content: center;
    align-items: center;
  }
  #main .main .hero--text {
    width: 80%;
  }
  #main .main .hero--text h1 {
    text-align: center;
  }
  #main .main .hero--text p {
    text-align: center;
    width: 100%;
  }
  #main .main .hero--images {
    left: -20px;
    top: 450px;
  }
  #main .main .hero--images__man {
    width: 440px;
    left: 95px;
    top: 120px;
  }
  #main .main .hero--images__setting {
    left: 300px;
    top: 80px;
    width: 80px;
  }
  #main .main .hero--images__img2 {
    width: 90px;
    height: 90px;
    left: 140px;
    top: 260px;
  }
  #main .main .hero--images__tools {
    left: 320px;
    top: 370px;
    width: 100px;
    height: 100px;
  }
  #main .main .hero--images__lamp {
    width: 80px;
    height: 80px;
    left: 460px;
    top: 300px;
  }
  #main .main .hero--images__ellipse1 {
    width: 540px;
    height: 540px;
  }
  #main .main .hero--images__ellipse1--ellipse2 {
    width: 300px;
    height: 300px;
  }
  #main .main .question {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  #main .main .question--left {
    width: 100%;
    text-align: center;
  }
  #main .main .question--left h1 {
    text-align: center;
    width: 100%;
  }
  #main .main .question--left h2 {
    text-align: center;
    width: 100%;
  }
  #main .main .question--right {
    width: 100%;
  }
}
* {
  margin: 0;
  padding: 0;
}

.container {
  width: 85%;
  margin: 0 auto;
}

body, html {
  background: #102146;
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
}

/*# sourceMappingURL=App.css.map */
