@media (max-width: 1400px) {
}

@media (max-width: 1200px) {
  #school {
    .school {
      &--one {
        &--two {
          &--text {
          }

          &--one {

          }
        }

        &--img {
          img {
            width: 90%;
          }
        }
      }
    }
  }

  #section {
    .section {
      &--text {
      }

      &--block {

        &__one {
          height: 330px;
          width: 262px;

          &__btn {

          }
        }
      }

      &--btn {

      }
    }
  }

  #master {
    .master {
      &--text {

      }

      &--block {
        &__one {
          width: 925px;
          padding: 0 33px 0 0;
        }
      }

      &--btn {

      }
    }

  }

  #level {
    .level {
      &--text {
      }

      &--block {
        &--one {
          width: 290px;

          &--info {
            margin: 26px 0 0 20px;

            &__text {

            }

            &__som {

            }

            &__btn {

              &--one {
                button {
                  width: 118px;
                  font-size: 11px;
                }
              }

              &--two {
              }
            }

          }

        }
      }
    }
  }

  #slider {
    .slider--general {
      p {
        font-size: 9px;
        width: 280px;
      }

      &__block {
        width: 92% !important;

        img {
        }
      }
    }
  }

  #request {
    .request {
      &--left {
      }

      &--right {

        label {

        }

        input {
          width: 460px;
        }

        a {
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  #school {
    .school {
      &--one {
        &--two {
          &--text {
          }

          &--one {

          }
        }

        &--img {
          img {
            width: 85%;
          }
        }
      }
    }
  }

  #section {
    .section {
      &--text {
      }

      &--block {

        &__one {
          height: 365px;
          width: 220px;

          &__btn {
          }
        }
      }

      &--btn {

      }
    }
  }

  #master {
    .master {
      &--text {

      }

      &--block {
        &__one {
          width: 750px;
          height: 200px;
          padding: 0 33px 0 0;
        }
      }

      &--btn {

      }
    }

  }

  #level {
    .level {
      &--text {
      }

      &--block {
        &--one {
          width: 250px;
          height: 375px;

          &--info {
            margin: 26px 0 0 20px;

            &__text {

            }

            &__som {
              h1 {
                font-size: 30px;
              }
            }

            &__btn {
              display: block;
              padding: 20px 0 0 5px;

              &--one {

                button {
                  width: 118px;
                  font-size: 11px;

                }
              }

              &--two {
                button {
                  padding: 12px 11px;
                  margin: 16px 2px;
                }
              }
            }

          }

        }
      }
    }
  }

  #slider {
    .slider--general {
      p {

        font-size: 9px;
        width: 248px;
      }

      h2 {
        font-size: 12px;
      }

      &__block {
        width: 92% !important;

        img {
        }
      }
    }
  }

  #request {
    .request {
      &--left {
      }

      &--right {
a{
  button{
    width: 50%;
  }
}
        label {

        }

        input {
          width:350px;
        }

        a {
        }
      }
    }
  }
}

@media (max-width: 992px) {
}

@media (max-width: 768px) {
}

@media (max-width: 576px) {
}

@media (max-width: 450px) {
}

@media (max-width: 375px) {
}

@media (max-width: 320px) {
}