@media (max-width: 1400px) {
  #about-us {
    .about-us {
      .slider-block {
        position: relative;
        width: 380px !important;
      }
    }
  }
}

@media (max-width: 1200px) {
  #about-us {
    .about-us {
      .slider-block {
        margin: 70px 0;
        width: 330px !important;

        .hText {
          margin: 20px 0 0 15px;
        }

        img {
          left: 138px;
        }
      }

      .about-us--images {
        img {
          width: 500px;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  #about-us {
    .about-us {
      .slider-block {
        margin: 70px 0;
        width: 260px !important;
        height: 290px;

        .hText {
          margin: 20px 0 0 15px;
          width: 240px;
        }

        img {
          left: 95px;
        }
      }

      .about-us--images {
        img {
          width: 420px;
        }
      }

      .request--right {
        input {
          width: 500px;
        }
      }
    }
  }
}

@media (max-width: 992px) {
  #about-us {
    .about-us {
      .slider-block {
        margin: 70px 0;
        width: 260px !important;
        height: 290px;

        .hText {
          margin: 20px 0 0 15px;
          width: 240px;
        }

        img {
          left: 95px;
        }
      }

      .about-us--images {
        img {
          width: 400px;
        }
      }

      .request--right {
        label {
          margin: 10px 0;
        }

        input {
          width: 500px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  #about-us {
    .about-us {
      .about-us--title {
        display: flex;
        align-items: center;
        flex-direction: column;

        h2 {
          width: 625px;
        }

        h3 {
          width: 625px;
        }
      }

      .about-us--images {
        display: flex;
        align-items: center;
        flex-direction: column;

        img {
          width: 400px;
          padding: 20px 0;
        }
      }

      .about-us--certificate {
        img {
          width: 590px;
        }
      }

      .slider-block {
        margin: 70px 35px;
        width: 260px !important;
        height: 290px;

        .hText {
          margin: 20px 0 0 15px;
          width: 240px;
        }

        img {
          left: 95px;
        }
      }

      .request--right {
        label {
          margin: 10px 0;
        }

        input {
          width: 500px;
        }
      }
    }
  }

}

@media (max-width: 576px) {
  #about-us {
    .about-us {
      .about-us--title {
        h2 {
          width: 499px;
        }

        h3 {
          width: 490px;
        }
      }

      .about-us--images {
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
          width: 489px;
          padding: 20px 0;
        }
      }

      .about-us--certificate {
        img {
          width: 499px;
        }
      }

      .slider-block {
        width: 400px !important;
        height: 210px;
        margin: 50px 50px;

        .hText {
          margin: 20px 0 0 15px;
          width: 360px;
        }

        img {
          left: 170px;
        }
      }

      .request--left {
        h1 {
          font-size: 20px;
        }

        p {
          width: 250px;
        }
      }

      .request--right {
        input {
          width: 340px;
          height: 50px;
        }

        a {
          button {
            width: 200px;
          }
        }
      }
    }
  }
}

@media (max-width: 450px) {
  #about-us {
    .about-us {
      .about-us--title {
        h2 {
          width: 409px;
        }

        h3 {
          width: 409px;
        }
      }

      .about-us--images {
        display: flex;
        flex-direction: column;
        align-items: center;
        img {
          width: 382px;
          padding: 20px 0;
        }
      }

      .about-us--certificate {
        display: flex;
        align-items: center;
        flex-direction: column;
        img {
          width: 409px;
        }
      }

      .slider-block {
        width: 382px !important;
        height: 210px;
        margin: 50px 0;

        .hText {
          margin: 20px 0 0 15px;
          width: 360px;
        }

        img {
          left: 170px;
        }
      }

      .request--left {
        h1 {
          font-size: 20px;
        }

        p {
          width: 350px;
        }
      }

      .request--right {
        input {
          width: 340px;
          height: 50px;
        }

        a {
          button {
            margin: 20px 0;
            width: 200px;
          }
        }
      }
    }
  }
}

@media (max-width: 375px) {
  #about-us {
    .about-us {
      .about-us--title {
        h2 {
          width: 320px;
        }

        h3 {
          width: 320px;
        }
      }

      .about-us--images {
        display: flex;
        flex-direction: column;
        align-items: center;
        img {
          width: 312px;
          padding: 20px 0;
        }
      }

      .about-us--certificate {
        display: flex;
        align-items: center;
        flex-direction: column;
        img {
          width: 322px;
        }
      }

      .slider-block {
        width: 316px !important;
        height: 240px;
        margin: 50px 1px;

        .hText {
          margin: 13px 0 0 13px;
          width: 285px;
        }

        img {
          left: 124px;
        }
      }

      .request--left {
        h1 {
          font-size: 20px;
        }

        p {
          width: 320px;
        }
      }

      .request--right {
        input {
          width: 250px;
          height: 50px;
        }

        a {
          button {
            margin: 20px 0;
            width: 200px;
          }
        }
      }
    }
  }
}

@media (max-width: 320px) {
  #about-us {
    .about-us {
      .about-us--title {
        h2 {
          width: 280px;
        }

        h3 {
          width: 290px;
        }
      }

      .about-us--images {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        img {
          width: 265px;
          padding: 20px 0;
        }
      }
      .about-us--certificate {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        img {
          width: 265px;
        }
      }

      .slider-block {
        display: flex;
        justify-content:space-between;
        width: 268px !important;
        height: 270px;
        .hText {
          margin: 13px 0 0 13px;
          width: 245px;
        }

        img {
          left: 100px;
        }
      }
      .request--left {
        h1 {
          font-size: 20px;
        }

        p {
          width: 270px;
        }
      }

      .request--right {
        input {
          width: 200px;
          height: 50px;
        }

        a {
          button {
            margin: 20px 0;
            width: 200px;
          }
        }
      }
    }
  }
}
