@import"Components/Style/Style";

*{
    margin: 0;

}
.container{
    width: 85%;
    margin: 0 auto;
}
body, html{
    background: #102146;
    scroll-behavior: smooth;

    padding: 0;

}
 body, html{
     background: #0A1128;
 }

 .container{
     width: 85%;
     margin: 0 auto;
 }