#register{
  padding: 120px 0 60px 0;
  background: #0A1128;
  .register{
    p{
      color: #A5A5A5;
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
    }
    &--block{
      margin-left: 350px;
      display: flex;
      flex-direction: column;
      h1{
        font-weight: 700;
        font-size: 36px;
        line-height: 44px;
        color: #FFFFFF;
        margin: 50px 0;
      }
      &__in{
        padding: 0 20px;
        width: 550px;
        height: 55px;
        margin-bottom: 50px;
        border: 1px solid #FFFFFF;
        color: #FFFFFF;
        background: transparent;
        border-radius: 10px;
      }
      &__card{
        .card-two{
          display: flex;
          align-items: center;
          width: 590px;
          justify-content: space-between;
          &--chose{
            width: 253px;
            height: 60px;
            display: flex;
            align-items: center;
            border: 1px solid #FFFFFF;
            border-radius: 10px;
            margin: 15px 0 50px 0;
            button{
              text-align: center;
              margin: 0 15px 0 40px;
              padding: 8px;
            }
            p{
              font-size: 20px;
            }
          }
        }
      }
      .num{
        display: flex;
        align-items: center;
        width: 590px;
        justify-content: space-between;
        &--in{
          width: 213px;
          padding: 0 20px;
          height: 55px;
          border: 1px solid #FFFFFF;
          border-radius: 10px;
          background: transparent;
          color: white;
        }
      }
      .agree {
        display: flex;
        align-items: center;
        margin: 50px 0;

        button {
          border: 1px solid #FFFFFF;
          border-radius: 5px;
          width: 55px;
          height: 55px;
          background: transparent;
          .st{
            font-size: 45px;
          }
        }

        p {
          margin-left: 10px;
          font-weight: 400;
          font-size: 20px;
          line-height: 24px;
          color: #FFFFFF;
        }

        &--btn {
          background: #04437B;
          backdrop-filter: blur(7.5px);
          border-radius: 10px;
          width: 591px;
          color: #FFFFFF;
          font-weight: 400;
          font-size: 24px;
          line-height: 29px;
          text-align: center;
          border: none;
          padding: 15px 0;
          margin-bottom: 50px;
        }
      }
      .texts{
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        color: #FFFFFF;
        width: 650px;
        margin: 20px 0;
      }
      h3{
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        color: #FFFFFF;
        margin: 10px 0 20px 0;
      }
      .target{
        background: #0A1128;
        box-shadow: 10px 10px 22px -117px #132049, -4px -3px 25px #040B23;
        border-radius: 10px;
        width: 303px;
        height: 50px;
        color: #FFFFFF;
        font-weight: 400;
        font-size: 24px;
        margin-bottom: 25px;
        border: none;
      }
    }
  }
}

@media (max-width: 1400px) {
  #register {
    .register--block {
      margin-left: 300px;
    }
  }
}
@media (max-width: 1140px) {
  #register {
    .register--block__in {
      width: 500px;
    }

    .register--block__card {
      .card-two--chose {
        width: 220px;
      }

      .card-two {
        width: 500px;
      }
    }

    .register--block{
      margin-left: 250px;
      .num {
        display: flex;
        align-items: center;
        width: 500px;
      }
      .num--in {
        width: 220px;
      }
      .agree {
        p {
          width: 460px;
        }
        .agree--btn {
          width: 500px;
        }
      }
      .texts {
        width: 500px;
      }
    }


  }
}
@media (max-width: 1200px) {
  #register {
    .register--block__in {
      width: 460px;
    }

    .register--block__card {
      .card-two--chose {
        width: 220px;
      }

      .card-two {
        width: 500px;
      }
    }

    .register--block{
      margin-left: 270px;
      .num {
        display: flex;
        align-items: center;
        width: 500px;
      }
      .num--in {
        width: 180px;
      }
      .agree {
        p {
          width: 460px;
        }
      }
      .agree--btn {
        width: 500px;
      }
      .texts {
        width: 500px;
      }
    }
  }
}
@media (max-width: 1024px) {
  #register .register--block {
    margin-left: 200px;
  }
}
@media (max-width: 992px) {
  #register {
    .register--block {
      margin-left: 180px;
    }
  }
}
@media (max-width: 768px) {
  #register {
    .register--block {
      margin-left: 80px;
    }
  }
}
@media (max-width: 576px) {
  #register {
    .register--block {
      margin-left: 0;
    }
    .register--block__in {
      width: 430px;
    }
    .register--block__card{
      .card-two {
        width: 470px;
      }
    }
    .register--block__card {
      .card-two--chose {
        width: 210px;
      }
    }
    .register--block {
      .num--in {
        width: 190px;
      }
    }
    .register--block {
      .num {
        display: flex;
        align-items: center;
        width: 470px;
      }
      .num--in{
        width: 160px;
      }
    }
    .register--block {
      .agree--btn {
        width: 500px;
      }
      .texts {
        width:470px;
      }
    }
  }

}
@media (max-width: 450px) {
  #register {
    .register--block__in {
      width: 340px;
    }

    .register--block__card {
      .card-two {
        width: 380px;
      }
    }

    .register--block__card {
      .card-two--chose {
        width: 170px;
      }
    }
    .register--block__card {
      .card-two--chose {
        p {
          font-size: 14px;
        }
      }
    }
    .register--block {
      .num {
        width: 380px;
      }
      .num--in {
        width: 120px;
      }
    }
    .register--block{
      .agree--btn {
        width: 380px;
      }
    }
    .register--block {
      .texts {
        width: 380px;
        font-size: 20px;
        line-height: 20px;
      }
    }
  }}
@media (max-width: 375px) {
  #register {
    .register--block__in {
      width: 275px;
    }
    .register--block {
      .num {
        width: 315px;
      }
      .num--in {
        width: 140px;
      }
    }
    .register--block__card {
      .card-two--chose {
        width: 140px;
        button {
          margin: 0 10px 0 20px;
        }
      }
    }
    .register--block__card{
      .card-two {
        width: 315px;
      }
    }
    .register--block {
      .agree{
        button {
          height: 35px;
        }
        p {
          width: 460px;
          font-size: 16px;
        }
      }
    }
    .register--block {
      .agree--btn {
        width: 315px;
      }
    }
    .register--block {
      .num--in {
        width: 100px;
      }
      .texts {
        width: 315px;
        font-size: 20px;
        line-height: 18px;
      }
      h3 {
        font-weight: 600;
        font-size: 20px;
        line-height: 20px;
      }
    }
  }

}
@media (max-width: 320px) {
  #register {
    .register--block__in {
      width: 230px;
    }
    .register--block__card{
      .card-two--chose {
        button {
          margin: 0 10px 0 6px;
        }
      }
      .card-two {
        width: 270px;
      }
      .card-two--chose {
        width: 120px;
      }
    }
    .register--block {
      .target {
        width: 260px;
      }
      .texts {
        width: 270px;
        font-size: 17px;
        line-height: 18px;
      }
      .agree--btn {
        width: 270px;
      }
      .num--in {
        width: 80px;
      }
      .num {
        width: 270px;
      }
    }

  }
}